.page-resources {

  h2 {
    border-bottom: 2px solid #c0c0c0;
    margin-bottom: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  .item {
    width: 450px;
    display: inline-block;

  }
}